<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% load custom_tags %}
    {% include "head.html" %}
    <title>means敏库</title>
</head>

<body>
<!-- Navigation -->
{% include "navigation.html" %}

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        <small>{{ content.name }}</small>
    </h1>

    <ol class="breadcrumb" style="background-color: {% background_color %}">
        {% include "route.html" %}
        <li class="breadcrumb-item active">{{ content.name }}</li>
    </ol>

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Preview Image -->
            <!--            <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">-->

            <hr>
            <p>地址：{{ content.url }}<p>
            <!-- Post Content -->
            <p>{{ content.content }}</p>
            <hr>

            <!-- Comments Form -->
            <div class="card my-4">
                <h5 class="card-header">还请您留下对此网站的印象:</h5>
                <div class="card-body">
                    <form>
                        <label style="float:left">评分:&nbsp;</label><div class="score_show" style="float:left"></div>
                        <input type="range" class="custom-range" min="1" max="5" step="1" name="score" id="score" aria-required="true">
                        <label>评分理由（请不要超过400字）:</label>
                        <div class="form-group">
                            <textarea class="form-control" rows="6" name="content" aria-required="true"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>

            <!-- Single Comment -->
            <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">Commenter Name</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                    purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                    vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>

            <!-- Comment with nested comments -->
            <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">Commenter Name</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                    purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                    vulputate fringilla. Donec lacinia congue felis in faucibus.

                    <div class="media mt-4">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">Commenter Name</h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                            Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc
                            ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                    </div>

                    <div class="media mt-4">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">Commenter Name</h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                            Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc
                            ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">提示</h5>
                <div class="card-body">
                    <p>点击下方“访问”按钮，您将离开means网站，前往： {{ content.url }}</p>
                    <p>请注意您的帐号和财产安全！</p>
                </div>
                <a type="button" class="btn btn-primary" href="{{ content.url }}">访问</a>
            </div>

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
{% include "footer.html" %}

<!-- Bootstrap core JavaScript -->
{% include "script.html" %}
<script>
$( document).ready(function() {
    $('#score').on('input', function(){
         v = $('#score').val();
         $('div.score_show').text(v);
    });
});
</script>

</body>

</html>

