<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% include "head.html" %}
    <title>Means</title>
</head>

<body>
<!-- Navigation -->
{% include "navigation.html" %}

<!-- Page Content -->
<div class="container">
    <br><br>
    {% include "release.html" %}
    <div class="col-lg-7 mb-7 m-auto">
        <div class="card h-100">
            <div class="card-footer" align="center">
                <a href="{% url 'search:search_pan' %}/jump/?{{ href }}" class="btn btn-primary">了解并同意以上内容，点击访问资源</a>
                <div align="center">{{ code }}</div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
{% include "footer.html" %}

<!-- Bootstrap core JavaScript -->
{% include "script.html" %}

</body>

</html>
