<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% load custom_tags %}
    {% include "head.html" %}
    <title>Means</title>
</head>

<body>
<!-- Navigation -->
{% include "navigation.html" %}

    <!-- Page Content -->
    <div class="container">
        <br><br>
        <div class="container">
        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-10 mb-10 m-auto">
                <div class="card h-100">
                    <h4 class="card-header" align="center">{{ agreement.title }} {{ agreement.version }}</h4>
                    <div class="card-body">
                        <p class="card-text">
                            {% html_format agreement.content %}
                        </p>
                    </div>
                    <a href="{% url 'user:sign_agreement' %}?agreement_id={{ agreement.id }}" type="button" class="btn btn-primary">同意条款</a>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
</div>

<!-- Footer -->
{% include "footer.html" %}

<!-- Bootstrap core JavaScript -->
{% include "script.html" %}

</body>

</html>
