{% load static %}
{% load custom_tags %}
<script src="{% static 'js/ckeditor.js' %}"></script>
<script src="{% static 'js/ckeditor-translation-zh-cn.js' %}"></script>

<script>
	ClassicEditor
		.create( document.querySelector( '#editor' ), {
			// toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
			language: 'zh-cn',
            // 用``数字1旁边的字符，来定义多行文本
            initialData: `{{ post.content | safe }}`
		} )
		.then( editor => {
			window.editor = editor;
		} )
		.catch( err => {
			console.error( err.stack );
		} );
</script>